:local(.component) {
  background-color: #fff;
  color: #666;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 2vh;
  text-align: center;
  position: relative;

  img {
    max-height: 80vh;
    max-width: 80vw;
  }
}

:local(.component):nth-child(2n) {
  background-color: #f0f0f0;
}
